body {
    background: url("../img/Fondo13.jpg");
    background-size: auto ;
    height: 2700px;
}
.Contenido1 {
    height: 2100px;
    left: 20px;
    right: 20px;
    top:200px;
    position: absolute;
    background-color:aquamarine;
}
.linea1 {
    width: 300px;
    border: none;
    border-top: 3px solid black;
    margin-top: 50px;
}
.linea2 {
    width: 300px;
    border: none;
    border-top: 3px solid black;
    margin-top: 70px;
}

.titulo > p {
    left: 800px;
    font-size: 70px;
    font-family: Roboto;
    top: 150px;
    color:black;
    position: absolute;
}
.titulo1 > p {
    left: 800px;
    font-size: 50px;
    top: -90px;
    color: black;
    position: absolute;
}
.titulo1 > hr {
    width: 300px;
    border: none;
    border-top: 3px solid black;
    margin-top: -15px;
}

.Contenido2 {
    height: 600px;
    left: 20px;
    right: 20px;
    top: 380px;
    position: absolute;
    background-color:;
}

.PFoto1 {
    width:150px;
    height:200px;
    top: -60px;
    left: -500px;
    position: absolute;
}

.PFoto2 {
    width: 120px;
    height: 200px;
    top: -60px;
    left: -1700px;
    position: absolute;
}
.PFoto3 {
    width: 110px;
    height: 200px;
    top: -60px;
    left: -1700px;
    position: absolute;
}

.Descripcion {
    background: #D9D9D9;
    height: 150px;
    width: 470px;
    border-radius: 5px;
    top: 100px;
    left: 100px;
    position: absolute;
    text-align: center;
}

    .Descripcion > p > img {
        vertical-align: baseline;
        top: -100px;
        left: -60px;
    }

    .Descripcion > p > h2 {
        text-align: center;
        color: black;
    }
    .Descripcion > p {
        text-align: center;
        color:black;
    }



.Descripcion2 {
    background: #D9D9D9;
    height: 140px;
    width: 450px;
    border-radius: 5px;
    top: 100px;
    left: 640px;
    position: absolute;
    text-align: center;
}

    .Descripcion2 > p > img {
        vertical-align: baseline;
        top: -100px;
        left: -50px;
    }
    .Descripcion2 > p > h2 {
    text-align: center;
    color: black;
    }

    .Descripcion2 > p {
        text-align: center;
    }

.Descripcion3 {
    background: #D9D9D9;
    height: 140px;
    width: 450px;
    border-radius: 5px;
    top: 100px;
    left: 1200px;
    position: absolute;
    text-align: center;
}

    .Descripcion3 > p > img {
        vertical-align: baseline;
        top: -100px;
        left: -70px;
    }

    .Descripcion3 > p {
        text-align: center;
    }

.ttl {
    font-size: 20px;
}

.Contenido3 {
    height: 250px;
    left: 5px;
    right: 5px;
    top: 15px;
    position: absolute; 
}

.Contenido4 {
    height: 250px;
    left: 5px;
    right: 5px;
    top: 300px;
    position: absolute;
}

.titulo2 > p {
    left: 800px;
    font-size: 50px;
    top: 580px;
    color: black;
    position: absolute;
}
.titulo2 > hr {
    width: 300px;
    border: none;
    border-top: 3px solid black;
    margin-top: 650px;
}
.Contenido5 {
    height: 250px;
    left: 5px;
    right: 5px;
    top: 700px;
    position: absolute;
}

.Contenido6 {
    height: 250px;
    left: 5px;
    right: 5px;
    top: 920px;
    position: absolute;
}

.Contenido7 {
    height: 250px;
    left: 5px;
    right: 5px;
    top: 1200px;
    position: absolute;
}

.titulo3 > p {
    left: 700px;
    font-size: 50px;
    top: 1500px;
    color: black;
    position: absolute;
}
.titulo3 > hr {
    width: 500px;
    border: none;
    border-top: 3px solid black;
    margin-top: 920px;
}

.Contenido8 {
    height: 250px;
    left: 5px;
    right: 5px;
    top: 1600px;
    position: absolute;
}

.Contenido9 {
    height: 250px;
    left: 5px;
    right: 5px;
    top: 1900px;
    position: absolute;
}